# Configuration variables:
#
[DEFAULT]
DEBUG = True
author= Fahad Alarefi
repo= https://github.com/createdbyfahad/VueCalendar.git
PORT = 8000
db = 
db_user = 
db_user_pw = 
db_host = 
db_port = 
secret_key = 

